@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: hsl(25, 95%, 53%);
  --color-primary-dark: hsl(25, 100%, 45%);
  --color-primary-light: hsl(25, 95%, 66%);

  --color-accent: hsl(276, 100%, 42%);
  --color-accent-dark: hsl(275, 72%, 32%);
  --color-accent-light: hsl(272, 100%, 65%);

  --color-bg: hsl(216, 6%, 14%);
  --color-bg-dark: hsl(216, 6%, 5%);
  --color-bg-light: hsl(209, 4%, 23%);

  --color-card: hsl(200, 7%, 91%);
  --color-card-dark: hsl(200, 7%, 85%);
  --color-card-light: hsl(200, 7%, 99%);
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
