main {
  h2 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  section {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

aside {
  max-width: min(100vw, 30ch);
  padding: 1rem;
  border-radius: 8px;
  background-color: color-mix(in oklab, var(--color-primary) 10%, transparent);
  height: fit-content;
}
